
.contenido
, .contenedor_video
, .contenido_producto{    
    background: $fondoTarjetas;
    border-radius:  20px;
    margin: 20px;
}

.contenedor_video{   
    margin-top: 60px;
}

main{
    div{      
        .descripcion
        , .formulario{
            color: $colorBlanco;
        }
    }
}
.fondo_Contenido{
    div{
        h3{    
            text-decoration: underline;
            padding-bottom: 15px;      
        }
    }
}


.contenido, 
.contenido_producto{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
}


.product_inicio{
    background-color: $colorNegro;
    color: $colorBlanco;
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
    div{
        text-align: center;
     
        h2{
            display: flex;
            justify-content: center;
        }
        p{
            padding: 15px;
            color: #f3f2fcd5;
        }
        
    }
}