
nav{
    ul{
        li{
            a{
                line-height: 70px;
                text-decoration: none;
                font-size: 19px;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    background: rgba(0,0,0,0.7);
                    border-radius: 6px;
                }
            }
        }
    }
}